Source: nanecalib
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nanecalib
Architecture: all
Depends:
    python3,
    python3-gi,
    gir1.2-gtk-3.0,
    gir1.2-gdk-3.0,
    gir1.2-glib-2.0
Description: A library for Nautilus, Nemo and Caja extensions
 A library for Nautilus, Nemo and Caja extensions
